<div class="p-6 min-w-[320px]">
    <h2 class="text-xl font-semibold mb-2">{{ title() }}</h2>
    <div class="flex flex-col gap-4 min-h-[20vh]">
        <div>
            <app-label>Số năm đăng ký/gia hạn</app-label>
            <app-input-field
                    id="numOfYear"
                    type="number"
                    [value]="numOfYears"
                    (input)="numOfYears = $any($event.target).value"
                    placeholder="Nhập biển số xe của bạn"
            ></app-input-field>
        </div>
        <!-- Nút ở góc phải dưới -->
        <div class="mt-auto flex justify-end gap-2">
            <app-button size="sm" variant="outline" (btnClick)="ok()">OK</app-button>
            <app-button size="sm" variant="outline" (btnClick)="cancel()">Huỷ</app-button>
        </div>
    </div>
</div>
