<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
    <div class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between">
        <div>
            <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90 lg:mb-6">Address</h4>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-7">
                <div>
                    <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Country</p>
                    <input type="text" [(ngModel)]="address.country" name="country" class="text-sm font-medium text-gray-800 dark:text-white/90 w-full border rounded px-3 py-2" />
                </div>
                <div>
                    <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">City/State</p>
                    <input type="text" [(ngModel)]="address.cityState" name="cityState" class="text-sm font-medium text-gray-800 dark:text-white/90 w-full border rounded px-3 py-2" />
                </div>
                <div>
                    <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Postal Code</p>
                    <input type="text" [(ngModel)]="address.postalCode" name="postalCode" class="text-sm font-medium text-gray-800 dark:text-white/90 w-full border rounded px-3 py-2" />
                </div>
                <div>
                    <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">TAX ID</p>
                    <input type="text" [(ngModel)]="address.taxId" name="taxId" class="text-sm font-medium text-gray-800 dark:text-white/90 w-full border rounded px-3 py-2" />
                </div>
            </div>
        </div>
    </div>
</div>
